---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css"

const sns = [
  {
    name: "Twitter",
    url: "https://twitter.com/kotoganaiyo",
    icon: "https://cdn.svgporn.com/logos/twitter.svg",
  },
  {
    name: "GitHub",
    url: "https://github.com/koto74",
    icon: "https://cdn.svgporn.com/logos/github-icon.svg",
  },
];

const like = [
  {
    name: "drawing",
  },
  {
    name: "watch animes",
  },
  {
    name: "sleeping"
  }
];

const skills = [
  {
    name: "C++",
    level: "Advanced ",
    icon: "https://cdn.svgporn.com/logos/c-plusplus.svg",
  },
  
];
---

<Layout title="KotoのOutput | About">
  <nav class="about-master">
    <h1>Kotoについて</h1>
    <img src="/koto.jpg" alt="rogo" />
    <p>
      色々勉強中
      <br>
      休日は基本的に引きこもってます。
    </p>
    <h2>SNS</h2>
    <ul class="sns-icon-ul">
      {
        sns.map((s) => (
          <li class="sns">
            <a href={s.url} target="_blank" rel="noopener noreferrer">
              {s.name} - <img src={s.icon} alt={s.name} class="sns-icon" />
            </a>
          </li>
        ))
      }
    </ul>
    <h2>like</h2>
    <ul class="like-ui">
      {
        like.map((like) => (
          <li class="like">
            {like.name}
          </li>
        ))
      }
    </ul>
    <h2>Skills</h2>
    <ul>
      {
        skills.map((skill) => (
          <li class={skill.level}>
            {skill.name} - {skill.level} -
            <img src={skill.icon} alt={skill.name} class="lang-icon" />
          </li>
        ))
      }
    </ul>
  </nav>
  
</Layout>

<style>
  .skill {
    color: blue;
    font-weight: bold;
  }
  .sns {
    color: green;
    font-weight: bold;
  }
  .like {
    color: black;
    font-weight: bold;
  }
  .like-ui {
    display: grid;
    grid-gap: 1rem;
  }
  .sns-icon-ul {
    display: grid;
    grid-gap: 1rem;
  }
  img {
    width: 200px;
    height: 200px;
  }
  .lang-icon {
    width: 20px;
    height: 20px;
  }
  .Advanced {
    color: red;
  }
  .Intermediate {
    color: blue;
  }
  .sns-icon {
    width: 20px;
    height: 20px;
  }
  .about-master {
    margin: 0 auto;
    max-width: 80ch;
  }

  @media screen and (max-width: 480) {

    .about-master {
      margin: 0 20px;
    }
  }

</style>